---
http_interactions:
- request:
    method: get
    uri: https://api.rating.chgk.net/players
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      link:
      - <https://api.rating.chgk.net/docs.jsonld>; rel="http://www.w3.org/ns/hydra/core#apiDocumentation"
      etag:
      - '"23e7c771ef5fceeec8d203868d13bad5"'
    body:
      encoding: UTF-8
      string: '[{"id":1,"name":"Алексей","patronymic":null,"surname":"Абабилов"},{"id":10,"name":"Игорь","patronymic":"","surname":"Абалов"},{"id":11,"name":"Наталья","patronymic":"Юрьевна","surname":"Абалымова"},{"id":12,"name":"Артур","patronymic":"Евгеньевич","surname":"Абальян"},{"id":13,"name":"Эрик","patronymic":"Евгеньевич","surname":"Абальян"},{"id":14,"name":"Василий","patronymic":"","surname":"Абанин"},{"id":15,"name":"Олег","patronymic":"Игоревич","surname":"Абарников"},{"id":16,"name":"Азер","patronymic":"Абасали
        оглы","surname":"Абасалиев"},{[...]
