---
http_interactions:
- request:
    method: get
    uri: https://api.rating.chgk.net/players/1110/seasons
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      link:
      - <https://api.rating.chgk.net/docs.jsonld>; rel="http://www.w3.org/ns/hydra/core#apiDocumentation"
      etag:
      - '"bae9656980fbfbce6028983330de9414"'
    body:
      encoding: UTF-8
      string: '[{"idplayer":1110,"idseason":7,"idteam":7121,"dateAdded":"2007-09-23T00:00:00+04:00","dateRemoved":null,"playerNumber":0},{"idplayer":1110,"idseason":8,"idteam":7456,"dateAdded":"2008-11-22T00:00:00+03:00","dateRemoved":null,"playerNumber":0}]'
  recorded_at: Sat, 15 Jan 2022 18:05:18 GMT
recorded_with: VCR 6.0.0
