---
http_interactions:
- request:
    method: get
    uri: https://api.rating.chgk.net/players/1110
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      link:
      - <https://api.rating.chgk.net/docs.jsonld>; rel="http://www.w3.org/ns/hydra/core#apiDocumentation"
      etag:
      - '"41a9e8ee2c96f205b271e0b975f49ff5"'
    body:
      encoding: UTF-8
      string: '{"id":1110,"name":"Александр","patronymic":"Сергеевич","surname":"Андрианов"}'
  recorded_at: Fri, 18 Mar 2022 17:37:18 GMT
recorded_with: VCR 6.1.0
