---
http_interactions:
- request:
    method: get
    uri: https://api.rating.chgk.net/teams/2/seasons?idseason=9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://api.rating.chgk.net/docs.jsonld>; rel="http://www.w3.org/ns/hydra/core#apiDocumentation"
      Etag:
      - '"6378c39ec74c77086714a2c0c4914840"'
    body:
      encoding: UTF-8
      string: '[{"idplayer":707,"idseason":9,"idteam":2,"dateAdded":"2009-09-04T00:00:00+04:00","dateRemoved":null,"playerNumber":0},{"idplayer":13551,"idseason":9,"idteam":2,"dateAdded":"2009-09-04T00:00:00+04:00","dateRemoved":null,"playerNumber":0},{"idplayer":25882,"idseason":9,"idteam":2,"dateAdded":"2009-09-04T00:00:00+04:00","dateRemoved":null,"playerNumber":1},{"idplayer":27403,"idseason":9,"idteam":2,"dateAdded":"2009-09-04T00:00:00+04:00","dateRemoved":null,"playerNumber":0},{"idplayer":30475,"idseason":9,"idteam":2,"dateAdded":"2009-09-04T00:00:00+04:00","dateRemoved":null,"playerNumber":0},{"idplayer":34846,"idseason":9,"idteam":2,"dateAdded":"2009-09-04T00:00:00+04:00","dateRemoved":null,"playerNumber":0}]'
  recorded_at: Tue, 22 Feb 2022 20:14:00 GMT
recorded_with: VCR 6.0.0
