---
http_interactions:
- request:
    method: get
    uri: https://api.rating.chgk.net/venues/3601/requests
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      link:
      - <https://api.rating.chgk.net/docs.jsonld>; rel="http://www.w3.org/ns/hydra/core#apiDocumentation"
      etag:
      - '"f9dd1387a4e7f3c0234ab308a3870d7e"'
    body:
      encoding: UTF-8
      string: '[{"id":69558,"status":"A","venue":{"id":3601,"name":"Библиотека","town":{"id":59,"name":"Витебск","region":{"id":25,"name":"Витебская
        область","country":{"id":5,"name":"Беларусь"}},"country":{"id":5,"name":"Беларусь"}},"type":{"id":1,"name":"Постоянная"},"address":"Витебск,
        пр. Фрунзе 30а","urls":["https:\/\/vk.com\/chgk_vitebsk"]},"representative":{"id":37362,"name":"Сергей","patronymic":"Владимирович","surname":"Янукович"},"narrators":[{"id":150700,"name":"Маргарита","patronymic":"Фоминична","surname":"Янукович"}],"approximateTeamsCount":7,"issuedAt":"2019-10-06T23:43:20+03:00","dateStart":"2019-10-22T19:00:00+03:00","tournamentId":5751},{"id":72048,"status":"A","venue":{"id":3601,"name":"Библиотека","town":{"id":59,"name":"Витебск","region":{"id":25,"name":"Витебская
        область","country":{"id":5,"name":"Беларусь"}},"country":{"id":5,"name":"Беларусь"}},"type":{"id":1,"name":"Постоянная"},"address":"Витебск,
        пр. Фрунзе 30а","urls":["https:\/\/vk.com\/chgk_vitebsk"]},"representative":{"id":37362,"name":"Сергей","patronymic":"Владимирович","surname":"Янукович"},"narrators":[{"id":150700,"name":"Маргарита","patr[...]
[...]
