---
http_interactions:
- request:
    method: get
    uri: https://api.rating.chgk.net/venues
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      link:
      - <https://api.rating.chgk.net/docs.jsonld>; rel="http://www.w3.org/ns/hydra/core#apiDocumentation"
      etag:
      - '"7868a7ac5d539741319317719a66d1bb"'
    body:
      encoding: UTF-8
      string: '[{"id":3030,"name":"Санкт-Петербург","town":{"id":285,"name":"Санкт-Петербург","region":{"id":128,"name":"Санкт-Петербург","country":{"id":21,"name":"Россия"}},"country":{"id":21,"name":"Россия"}},"type":{"id":1,"name":"Постоянная"},"address":null,"urls":[]},{"id":3031,"name":"Магнитогорск","town":{"id":187,"name":"Магнитогорск","region":{"id":157,"name":"Челябинская
        область","country":{"id":21,"name":"Россия"}},"country":{"id":21,"name":"Россия"}},"type":{"id":1,"name":"Постоянная"},"address":null,"urls":[]},{"id":3032,"name":"Курск","town":{"id":170,"name":"Курск","region":{"id":73,"name":"Курская
        область","country":{"id":21,"name":"Россия"}},"country":{"id":21,"name":"Россия"}},"type":{"id":1,"name":"Постоянная"},"address":nul[...]
