---
http_interactions:
- request:
    method: get
    uri: https://api.rating.chgk.net/releases
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://api.rating.chgk.net/docs.jsonld>; rel="http://www.w3.org/ns/hydra/core#apiDocumentation"
      Etag:
      - '"f46e67f93a4505b9150b61f2953c4c8a"'
    body:
      encoding: UTF-8
      string: '[{"id":1,"date":"2003-07-01T00:00:00+04:00","realDate":"2003-07-01T00:00:00+04:00","lastRunRefresh":"2014-09-06T13:10:34+04:00"},{"id":2,"date":"2004-10-01T00:00:00+04:00","realDate":"2004-10-01T00:00:00+04:00","lastRunRefresh":"2015-02-09T15:49:58+03:00"},{"id":3,"date":"2005-01-01T00:00:00+03:00","realDate":"2005-01-01T00:00:00+03:00","lastRunRefresh":"2015-02-09T15:50:54+03:00"},{"id":4,"date":"2005-04-01T00:00:00+04:00","realDate":"2005-04-01T00:00:00+04:00","lastRunRefresh":"2015-02-09T15:51:22+03:00"},{"id":5,"date":"2005-07-01T00:00:00+04:00","realDate":"2005-07-01T00:00:00+04:00","last[...]
