---
http_interactions:
- request:
    method: get
    uri: https://api.rating.chgk.net/releases?itemsPerPage=3&page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://api.rating.chgk.net/docs.jsonld>; rel="http://www.w3.org/ns/hydra/core#apiDocumentation"
      Etag:
      - '"479e0f727b06fc50f8044c0692c1609b"'
    body:
      encoding: UTF-8
      string: '[{"id":4,"date":"2005-04-01T00:00:00+04:00","realDate":"2005-04-01T00:00:00+04:00","lastRunRefresh":"2015-02-09T15:51:22+03:00"},{"id":5,"date":"2005-07-01T00:00:00+04:00","realDate":"2005-07-01T00:00:00+04:00","lastRunRefresh":"2015-02-09T15:51:55+03:00"},{"id":6,"date":"2005-10-01T00:00:00+04:00","realDate":"2005-10-01T00:00:00+04:00","lastRunRefresh":"2015-02-09T15:52:18+03:00"}]'
  recorded_at: Thu, 03 Feb 2022 22:08:11 GMT
recorded_with: VCR 6.0.0
