---
http_interactions:
- request:
    method: get
    uri: https://api.rating.chgk.net/releases/4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://api.rating.chgk.net/docs.jsonld>; rel="http://www.w3.org/ns/hydra/core#apiDocumentation"
      Etag:
      - '"8b25e87c17577de2b850acce7f66b335"'
    body:
      encoding: UTF-8
      string: '{"id":4,"date":"2005-04-01T00:00:00+04:00","realDate":"2005-04-01T00:00:00+04:00","lastRunRefresh":"2015-02-09T15:51:22+03:00"}'
  recorded_at: Thu, 03 Feb 2022 22:12:19 GMT
recorded_with: VCR 6.0.0
