---
http_interactions:
- request:
    method: get
    uri: https://api.rating.chgk.net/towns?itemsPerPage=2&page=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      link:
      - <https://api.rating.chgk.net/docs.jsonld>; rel="http://www.w3.org/ns/hydra/core#apiDocumentation"
      etag:
      - '"1552675e7e9744022a94d2566ad36a98"'
    body:
      encoding: UTF-8
      string: '[{"id":5,"name":"Анапа","region":{"id":69,"name":"Краснодарский край","country":{"id":21,"name":"Россия"}},"country":{"id":21,"name":"Россия"}},{"id":6,"name":"Ангарск","region":{"id":50,"name":"Иркутская
        область","country":{"id":21,"name":"Россия"}},"country":{"id":21,"name":"Россия"}}]'
  recorded_at: Wed, 06 Apr 2022 19:33:47 GMT
recorded_with: VCR 6.1.0
