---
http_interactions:
- request:
    method: get
    uri: https://api.rating.chgk.net/towns
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      link:
      - <https://api.rating.chgk.net/docs.jsonld>; rel="http://www.w3.org/ns/hydra/core#apiDocumentation"
      etag:
      - '"77cb1518571a059f15bf4cd2adad5f97"'
    body:
      encoding: UTF-8
      string: '[{"id":1,"name":"Абакан","region":{"id":152,"name":"Хакасия","country":{"id":21,"name":"Россия"}},"country":{"id":21,"name":"Россия"}},{"id":2,"name":"Азов","region":{"id":123,"name":"Ростовская
        область","country":{"id":21,"name":"Россия"}},"country":{"id":21,"name":"Россия"}},{"id":3,"name":"Алчевск","region":{"id":77,"name":"Луганская
        область","country":{"id":26,"name":"Украина"}},"country":{"id":26,"name":"Украина"}},{"id":4,"name":"Анадырь","region":{"id":163,"name":"Чукотский
        АО","country":{"id":21,"name":"Россия"}},"country":{"id":21,"[...]
