---
http_interactions:
- request:
    method: get
    uri: https://api.rating.chgk.net/towns/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      link:
      - <https://api.rating.chgk.net/docs.jsonld>; rel="http://www.w3.org/ns/hydra/core#apiDocumentation"
      etag:
      - '"4e686ca0cc19f7bacc14f11a8dd9d376"'
    body:
      encoding: UTF-8
      string: '{"id":1,"name":"Абакан","region":{"id":152,"name":"Хакасия","country":{"id":21,"name":"Россия"}},"country":{"id":21,"name":"Россия"}}'
  recorded_at: Wed, 06 Apr 2022 19:32:57 GMT
recorded_with: VCR 6.1.0
