---
http_interactions:
- request:
    method: get
    uri: https://api.rating.chgk.net/tournaments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      link:
      - <https://api.rating.chgk.net/docs.jsonld>; rel="http://www.w3.org/ns/hydra/core#apiDocumentation"
      etag:
      - '"df57dc2ef66616cdeb52430ad8f3fb3d"'
    body:
      encoding: UTF-8
      string: '[{"id":1,"name":"Чемпионат Южного Кавказа","lastEditDate":"2003-07-25T00:00:00+04:00","dateStart":"2003-07-25T00:00:00+04:00","dateEnd":"2003-07-27T00:00:00+04:00","type":{"id":2,"name":"Обычный"},"season":"\/seasons\/1","orgcommittee":[],"synchData":null,"mainPayment":null,"discountedPayment":null,"discountedPaymentReason":null,"currency":"u","editors":[],"tournamentInRatingBalanced":true,"difficultyForecast":null,"maiiAegis":false,"maiiAegisUpdatedAt":null,"maiiRating":false,"maiiRatingUpdatedAt":null,"questionQty":null},{"id":2,"name":"Летние
        зори","lastEditDate":"2003-08-09T00:00:00+04:00","dateStart":"2003-08-09T00:00:00+04:00","dateEnd":"2003-08-09T00:00:00+04:00","type":{"id":2,"name":"Обычный"},"season":"\/seasons\/1","orgcommittee":[],"synchData":null,"mainPayment":null,"discountedPayment":null,"discountedPaymentReason":null,"currency":"u","editors":[],"tournamentInRatingBalanced":true,"difficultyForecast":null,"maiiAegis":false,"maiiAegisUpdatedAt":null,"maiiRating":false,"maiiRatingUpdated[...]
