---
http_interactions:
- request:
    method: get
    uri: https://api.rating.chgk.net/tournaments/7798/requests
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      link:
      - <https://api.rating.chgk.net/docs.jsonld>; rel="http://www.w3.org/ns/hydra/core#apiDocumentation"
      etag:
      - '"44bd0490d3f9909492edf3935089cf8f"'
    body:
      encoding: UTF-8
      string: '[{"id":101060,"status":"A","venue":{"id":3587,"name":"КИИ \"Белая рысь\"","town":{"id":74,"name":"Гомель","region":{"id":34,"name":"Гомельская
        область","country":{"id":5,"name":"Беларусь"}},"country":{"id":5,"name":"Беларусь"}},"type":{"id":1,"name":"Постоянная"},"address":"246050
        Гомель ул. Пролетарская, 2","urls":["https:\/\/hatnibusel.wixsite.com\/belayarys","https:\/\/vk.com\/whitelynxgomel"]},"representative":{"id":14450,"name":"Леонид","patronymic":"Валентинович","surname":"Климович"},"narrators":[{"id":14450,"name":"Леонид","patronymic":"Валентинович","surname":"Климович"}],"approximateTeamsCount":10,"issuedAt":"2022-03-11T20:11:55+03:00","tournamentId":7798},{"id":101784,"status":"A","venue":{"id":3065,"name":"Воронеж","town":{"id":67,"name":"Воронеж","region":{"id":30,"name":"Воронежская
        область","country":{"id":21,"name":"Россия"}},"country":{"id":21,"name":"Россия"}},"type":{"id":1,"name":"Постоянная"},"address":null,"urls":[]},"representative":{"id":115588,"name":"Сергей","patronymic":"Юрьевич","surname":"Вахмин"},"narrators":[{"id":193107,"name":"Елена","patronymic":"Александровна","surname":"Воробьёва"}],"approximateTeamsCount":1[...]
