---
http_interactions:
- request:
    method: get
    uri: https://api.rating.chgk.net/tournaments/7798/results?includeMasksAndControversials=1&includeRatingB=1&includeTeamFlags=1&includeTeamMembers=1&town=202
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      link:
      - <https://api.rating.chgk.net/docs.jsonld>; rel="http://www.w3.org/ns/hydra/core#apiDocumentation"
      etag:
      - '"eacca7e057c240cf22f6de4d8688369b"'
    body:
      encoding: UTF-8
      string: '[{"team":{"id":53341,"name":"Парадные ватники","town":{"id":202,"name":"Мурманск"}},"mask":"011111111111011110001000000011111110111011111","current":{"name":"Парадные
        ватники","town":{"id":202,"name":"Мурманск"}},"questionsTotal":31,"synchRequest":{"id":103475,"venue":{"id":3067,"name":"Мурманск"},"tournamentId":7798},"rating":{"inRating":true,"b":1216,"predictedPosition":3,"rt":6114,"rb":6472,"rg":5291,"r":5601,"bp":1069,"d1":147,"d2":14,"d":80},"position":1,"controversials":[],"flags":[],"teamMembers":[{"flag":"Б","usedRating":0,"rating":8692,"player":{"id":17610,"name":"Андрей","patronymic":"Геннадьевич","surname":"Кучумов"}},{"flag":"Б","usedRating":0,"rating":8534,"player":{"id":26261,"name":"Сергей","patronymic":"Валерьевич","surname":"Пташенчук"}},{"flag":"Б","usedRating":0,"rating":7733,"player":{"id":67162,"name":"Александр","patronymic":"Анатольевич","surname":"Челтыбашев"}},{"flag":"Б","usedRating":0,"rating":8509,"player":{"id":137631,"name":"Оксана","patronymic":"Юрьевна","surname":"Карнатова"}},{"flag":"Б","usedRating":0,"rating":8534,"player":{"id":172554,"name":"Татьяна","patronymic":"Сергеевна","surname":"Бровкина"}}]}]'
  recorded_at: Thu, 28 Jul 2022 20:31:39 GMT
[...]
