---
http_interactions:
- request:
    method: post
    uri: https://api.rating.chgk.net/authentication_token
    body:
      encoding: UTF-8
      string: '{"email":"<CHGK_EMAIL>","password":"<CHGK_PASSWORD>"}'
    headers:
      Content-type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      link:
      - <https://api.rating.chgk.net/docs.jsonld>; rel="http://www.w3.org/ns/hydra/core#apiDocumentation"
    body:
      encoding: UTF-8
      string: '{"token":"stubbed_token"}'
  recorded_at: Sat, 22 Jan 2022 20:03:32 GMT
recorded_with: VCR 6.0.0
