---
http_interactions:
- request:
    method: post
    uri: https://api.rating.chgk.net/authentication_token
    body:
      encoding: UTF-8
      string: '{"email":"<API_TOKEN>@example.com","password":"123"}'
    headers:
      Content-type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      content-type:
      - application/json
      www-authenticate:
      - Bearer
      link:
      - <https://api.rating.chgk.net/docs.jsonld>; rel="http://www.w3.org/ns/hydra/core#apiDocumentation"
    body:
      encoding: UTF-8
      string: '{"code":401,"message":"Invalid credentials."}'
  recorded_at: Sat, 22 Jan 2022 19:54:18 GMT
recorded_with: VCR 6.0.0
