---
http_interactions:
- request:
    method: get
    uri: https://api.rating.chgk.net/tournament_synch_requests/1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      accept-patch:
      - application/merge-patch+json
      link:
      - <https://api.rating.chgk.net/docs.jsonld>; rel="http://www.w3.org/ns/hydra/core#apiDocumentation"
      etag:
      - '"04874e69e763958610bcc7e929fc49ef"'
    body:
      encoding: UTF-8
      string: '{"id":1000,"status":"A","venue":{"id":3153,"name":"Павлодар","town":{"id":1680,"name":"Павлодар","region":{"id":111,"name":"Павлодарская
        область","country":{"id":13,"name":"Казахстан"}},"country":{"id":13,"name":"Казахстан"}},"type":{"id":1,"name":"Постоянная"},"urls":[]},"representative":{"id":62769,"name":"Айбек","patronymic":"Каирбекович","surname":"Сакенов","dbChgkInfoTag":""},"narrator":{"id":78247,"name":"Ольга","patronymic":"","surname":"Логвиненко","dbChgkInfoTag":""},"issuedAt":"2012-09-21T10:30:14+04:00","dateStart":"2012-10-13T17:00:00+04:00","narrators":[{"id":78247,"name":"Ольга","patronymic":"","surname":"Логвиненко","dbChgkInfoTag":""}],"tournamentId":2180}'
  recorded_at: Thu, 08 Jun 2023 20:18:40 GMT
recorded_with: VCR 6.1.0
